<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/40b8ba8176.js" crossorigin="anonymous"></script>
    <style>
        *:focus {
            outline: none;
        }
    </style>
</head>

<body class="bg-[#C6E7FF] text-[#F3F3E0]">
    <div id="container" class="w-[100vw] h-[80vh] flex flex-col justify-center items-center text-center text-black">
        <p>ERROR !!!</p>
        <p>ERROR IN SHORT URL INPUT</p>
        <p>{{errormsg}}</p>
    </div>
</body>

</html>