<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/40b8ba8176.js" crossorigin="anonymous"></script>
    <style>
        *:focus {
            outline: none;
        }
    </style>
</head>

<body class="bg-[#C6E7FF] text-[#F3F3E0]">
    <div id="container" class="w-[100vw] h-[80vh] flex justify-center items-center text-center">
        <div id="maincontent" class="bg-[#608BC1] w-[50%] rounded-lg p-8">
            <form action="/" method="post" class="flex flex-col text-[1.5rem]">
                <input type="hidden" name="flag" value="To Shorten">
                <div class="flex items-center mb-12">
                    <label for="inputurl" class="mr-8">Destination:</label>
                    <input type="text" name="inputurl" id="inputurl" required
                        class="text-[1.2rem] text-[#133E87] bg-[#C6E7FF] rounded-md pl-4 flex-1">
                </div>
                <div class="flex items-center mb-12">
                    <label for="shorturl" class="mr-8">Back Half:</label>
                    <input type="text" name="shorturl" id="shorturl" required
                        class="text-[1.2rem] text-[#133E87] bg-[#C6E7FF] rounded-md pl-4 flex-1">
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="bg-[#D4F6FF] rounded-lg px-6 py-2 text-[#133E87]">Submit</button>
                </div>
            </form>

            <div class="w-full flex justify-center text-[1.3rem] my-4">
                <span>My URLs 🚀</span>
            </div>

            <div class="flex justify-center mb-4">
                <div id="short" class="flex flex-col p-4 bg-[#FBFBFB] mr-4 rounded-lg text-[#133E87]">
                    <p class="mb-4 text-[1.2rem] font-semibold">Short URL</p>
                    {% for i in userurls.keys() %}
                    <p class="mb-4">/{{i}}</p>
                    {% endfor %}
                </div>

                <div id="dest" class="flex flex-col p-4 bg-[#FBFBFB] mr-4 rounded-lg text-[#133E87]">
                    <p class="mb-4 text-[1.2rem] font-semibold">Destination</p>
                    {% for i in userurls.values() %}
                    <p class="mb-4">{{i}}</p>
                    {% endfor %}
                </div>

                <div class="flex flex-col p-4 bg-[#FBFBFB] rounded-lg text-[#133E87]">
                    <p class="mb-4 text-[1.2rem] font-semibold text-red-500">Delete</p>
                    {% for i in userurls.keys() %}
                    <form action="/" method="post" class="mb-4">
                        <input type="hidden" name="flag" value="To Delete">
                        <input type="hidden" name="delete_url" value="{{i}}">
                        <button type="submit" class="text-red-500"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                    {% endfor %}
                </div>
            </div>

            <!-- error message box -->
            {% if errormsg=="NoError" %}
            <p></p>
            {% else %}
            <p>{{errormsg}}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>